<div class="collapse navbar-collapse" id="primaryNav">
    <ul class="nav navbar-nav navbar-right">
        <li><a href="/" target="_self" class="current">Home</a></li>
        <li><a href="/blog" target="_self">Blog</a></li>
        <li><a href="/attorney-profile" target="_self">Attorney Profile</a></li>
        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Practice Areas<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
                <li class="col-xs-6"><a href="/practice-areas">Areas Overview</a></li>
                <li class="col-xs-6"><a href="/practice-areas/personal-injury">Personal Injury</a></li>
                <li class="col-xs-6"><a href="/practice-areas/auto-injury">Motor Vehicle Injury</a></li>
                <li class="col-xs-6"><a href="/practice-areas/work-injury">Workplace Injury</a></li>
                <li class="col-xs-6"><a href="/practice-areas/medical-liability">Medical Liability</a></li>
                <li class="col-xs-6"><a href="/practice-areas/appellate-law">Appellate Law</a></li>
                <li class="col-xs-6"><a href="/practice-areas/wrongful-death">Wrongful Death</a></li>
                <li class="col-xs-6"><a href="/practice-areas/business-litigation">Commercial Litigation</a></li>
                <li class="col-xs-6"><a href="/practice-areas/constitutional-law">Constitutional Law</a></li>
                <li class="col-xs-6"><a href="/practice-areas/general-civil-litigation">General Civil Litigation</a></li>
                <li class="col-xs-6"><a href="/practice-areas/maritime-law">Maritime Law</a></li>
                <li class="col-xs-6"><a href="/practice-areas/products-liability">Products Liability</a></li>
                <li class="col-xs-6"><a href="/practice-areas/railroad-law">railroad Law</a></li>
                <li class="col-xs-6"><a href="/practice-areas/consumer-law">Consumer Law</a></li>
            </ul>
        </li>
        <li><a href="/trial-successes" target="_self">Trial Successes</a></li>
        <li><a href="/legal-resources" target="_self">Legal Resources</a></li>
        <li><a href="/faq" target="_self">FAQ</a></li>
        <li><a href="/contact" target="_self">Contact</a></li>
    </ul>
</div>
</div>
</nav>
</header>
<div class="jumbotron bg">
    <div class="container-fluid">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
            <h1>Over 40 Years of Experience <span class="small">Serving the Lone Star State</span></h1>
            <p>Blake Bailey has been awarded as much as $20,000,000.00 in a single jury verdict – to date, this is the most money awarded in a jury trial in Tyler, Texas.</p>
            <br><a class="btn btn-default btn-lg align-right" href="/contact" role="button">Request Free Initial Consultation</a></div>
    </div>
</div>
<section class="main">
    <div id="key-feature" class="container-fluid">
        <figure class="col-md-3 col-sm-12 col-xs-12">
            <a href="/practice-areas/personal-injury"><img class="img" src="/images/feature/ftr01.jpg" alt="Practice Area Personal Injury">
                <figcaption>
                    <h2>Personal Injury</h2>
                    <p>Blake Bailey is Board Certified in personal injury trial law, and has tried close to 200 jury trials to verdict.</p>
                </figcaption>
            </a>
        </figure>
        <figure class="col-md-3 col-sm-12 col-xs-12">
            <a href="/practice-areas/medical-liability"><img class="img" src="/images/feature/ftr02.jpg" alt="Practice Area Medical Malpractice">
                <figcaption>
                    <h2>Medical Malpractice</h2>
                    <p>Blake Bailey is one of the few trial lawyers remaining in East Texas who will still review medical malpractice claims.</p>
                </figcaption>
            </a>
        </figure>
        <figure class="col-md-3 col-sm-12 col-xs-12">
            <a href="/practice-areas/products-liability"><img class="img" src="/images/feature/ftr03.jpg" alt="Practice Area Products Liability">
                <figcaption>
                    <h2>Products Liability</h2>
                    <p>Blake Bailey is capable of building a sound case against corporations that are well-equipped to avoid legal obligations to you as a consumer.</p>
                </figcaption>
            </a>
        </figure>
        <figure class="col-md-3 col-sm-12 col-xs-12">
            <a href="/practice-areas/auto-injury"><img class="img" src="/images/feature/ftr04.jpg" alt="Practice Area Automobile Injury">
                <figcaption>
                    <h2>Automobile Injury</h2>
                    <p>Blake Bailey has a long history of success in automobile injury cases and protecting verdicts in trial court if challenged on appeal.</p>
                </figcaption>
            </a>
        </figure>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="dark text-center">
                <h1>Have You Been Injured? Unsure Of What To Do Next?</h1>
                <p>Don’t wait until it’s too late. Find out what your rights are. Call Blake at (903) 593-7660 for your free initial consultation.</p>
                <br><a href="/contact" class="btn btn-lg btn-primary">Contact Blake</a></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-6 col-sm-12 col-xs-12"><img src="/images/homepic.jpg" alt="" class="img-responsive"></div>
            <div class="col-md-6 col-md-6 col-sm-12 col-xs-12">
                <h2>Personal Injury Lawyer <span class="small">In Tyler, Texas</span></h2>
                <p>The Bailey Law Firm is dedicated to providing the highest quality legal representation and achieving the best results possible for clients throughout Texas who have suffered personal injury. Blake Bailey is an experienced, Board Certified trial lawyer based in Tyler, Texas. His proficiency lies in personal injury cases, and he has received numerous awards for his legal expertise and accomplishments. Mr. Bailey is admitted to practice law in all State and Federal Courts in Texas, the Court of Federal Claims, and the United States Court of Appeals.</p>
                <p>Blake’s commitment to excellence has kept his career going strong for over 40 years. His vast experience and knowledge in personal injury law makes him a reliable and trustworthy attorney to represent you in your personal injury case.</p>
                <div class="text-right"><a href="/attorney-profile" class="btn btn-default">Read More <i class="fa fa-angle-right"></i></a></div>
            </div>
        </div>
    </div>
</section>