# dev.config


# [ LOCAL ]
#
local="./public" # <--


# [ REMOTE ]
# [ Run `rclone config` to modify the list of remotes, then `dev config` to update this list ]
#
# [ dev-bbailey-law ]
# [ g ]
# [ imac ]
# [ ls ]
# [ rn ]
# [ s1-efmeeks-net ]
#
remote="s1-efmeeks-net" # <--


# [ DEVELOPMENT PATH ]
# [ The path on the server beginning with the root (/) directory ]
#
dev="/home/www/efmeeks.net/dev" # <--


# [ PUBLIC PATH ]
# [ The path on the server beginning with the root (/) directory ]
#
pub="/home/www/efmeeks.net/public" # <--
